ТЗ
карта для каждого избирательного округа (ИО), вмещающая весь округ с чёткими границами
по клику по ИО можно перейти на страницу ИО на интернет-площадке
три слоя с информацией для каждого округа: избиратели, наблюдатели, ссылки